// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #dc5945;

$title-color:       rgba(255, 255, 255, 0.7);
$moreinfo-color:    rgba(255, 255, 255, 1);

$meter-background:  rgba(255, 255, 255, 0.3);


// ----------------------------------------------------------------------------
// Widget-meter styles
// ----------------------------------------------------------------------------
.widget-meter {

  background-color: $background-color;

  input.meter {
    background-color: $meter-background;
    color: #fff;
  }

  .title {
    color: $title-color;
  }

  .more-info {
    font-size: 32px;
    color: $moreinfo-color;
    bottom: 52px;
  }

  .updated-at {
    color: rgba(0, 0, 0, 0.3);
  }

}
